:root {
    --color-primary: #101545;
    --color-secondary: #6887d9;
    --color-tertiary: #6ec1e4;
    --color-white: #f1f1f1;
    --color-white-dark: #e9e9e9;
    --color-white-light: #cacaca;
    --color-grey-light: #dee2e6;
    --color-grey-dark: #868e96;
    --color-black-light: #495057;
    --color-red: #b10000;
    --color-cream: #d9d9d9;

    --bg-primary: #101545;
    --bg-secondary: #6887d9;
    --bg-tertiary: #6ec1e4;
    --bg-grey-light: #dee2e6;
    --bg-grey-dark: #868e96;
    --bg-black-light: #495057;
    --bg-white: #f1f1f1;
    --bg-white-dark: #e9e9e9;
    --bg-white-light: #cacaca;
}

/* Keyframes */

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes reveal {
    to {
        clip-path: inset(0 0 0 0); 
    }
}

@keyframes slideUpOutward {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}

@keyframes slideDownOutward {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-100%);
        opacity: 0;
    }
}

/* Buttons */

.button-rcrm {
    padding: 1rem 1.4rem;
    border-radius: 3px;
    font-size: 1.4rem;
    font-weight: 500;
    transition: all 0.4s ease;
}

.button-rcrm:active {
    transform: translateY(5px);
}

.button-rcrm:focus {
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    outline: none;
    background-color: transparent !important;
    color: var(--color-primary) !important;
}

.button-apply {
    width: 20rem;
    background-color: var(--bg-white);
    color: var(--color-primary);
    border: 1px solid var(--color-white);
}

.button-apply:hover {
    background-color: var(--bg-secondary);
    border: 1px solid #6887d9;
    color: var(--color-white);
}

.button-back {
    font-size: 1.2rem;
    border: 1px solid var(--bg-white-dark);
    color: var(--color-white-dark);
    background-color: transparent;
    width: 10rem;
}

.button-back:hover {
    border: 1px solid var(--color-grey-dark);
    background-color: var(--bg-grey-dark);
    color: var(--color-white);
}

.button-submit {
    background-color: var(--bg-primary);
    border: 1px solid var(--color-primary);
    color: var(--color-white);
    width: 20rem;
}

.button-submit:hover {
    background-color: transparent;
    color: var(--color-primary);
}

.button-apply,
.button-back {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.7s ease, transform 0.7s ease,
        background-color 0.4s ease, color 0.4s ease, border-color 0.4s ease;
}

.animate-button-apply .button-apply,
.animate-button-back .button-back {
    opacity: 1;
    transform: translateY(0);
}

.thankyou-back-button {
    width: 20rem;
    margin: 1rem 0;
    border: 1px solid var(--color-secondary);
    background-color: var(--bg-secondary);
    color: var(--color-white);
}

.thankyou-back-button:hover {
    background-color: transparent;
    color: var(--color-secondary);
}

.open-jobs-button {
    border: 1px solid var(--color-primary);
    background-color: var(--bg-primary);
    color: var(--color-white);
    width: 20rem;
}

.open-jobs-button:hover {
    background-color: transparent;
    color: var(--color-primary);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}

body {
    font-family: "DM Sans", sans-serif;
    color: var(--color-primary);
}

main {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
}

.header {
    height: auto;
    padding: 6rem 0 2rem 0;
    background-image: url(img/apply_bg.png);
    background-size: cover;
    overflow: hidden;
    position: relative;
}

.header::before,
.header::after {
    content: "";
    position: absolute;
    background-color: white; /* Color of your header background */
    width: 100%;
    height: 50%;
    z-index: 2;
    transform-origin: center; /* Set the origin for the transform */
    transition: transform 0.8s ease;
    transform: translateY(0);
}

.header::before {
    top: 0;
    transform: translateY(0); /* Starts in the center */
}

.header::after {
    bottom: 0;
    transform: translateY(0); /* Starts in the center */
}

.animate-header .header::before {
    animation: slideUpOutward 0.8s ease forwards; /* Slide it upwards */
}

.animate-header .header::after {
    animation: slideDownOutward 0.8s ease forwards; /* Slide it downwards */
}

.header-container {
    height: 100%;
    padding: 0 4rem;
}

.job-name {
    font-size: 3.4rem;
    font-weight: 600;
    max-width: 80rem;
    word-wrap: break-word;
    line-height: 5rem;
    color: var(--color-white);
}

.department-name {
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--color-secondary);
    line-height: 4rem;
}

.other-info {
    display: flex;
    gap: 2rem;
    margin: 2rem 0 3rem 0;
}

.other-info div {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
    color: var(--color-white-light);
}

.other-info div p {
    font-weight: 400;
}

.other-info div .ph {
    font-weight: 600;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 1.4rem;
    margin: 2rem 0 4rem 0;
}

.loader-container {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 1);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 8px solid #101545;
    border-radius: 50%;
    border-top: 8px solid rgba(255, 255, 255, 0.3) ;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

.job-info {
    padding: 3rem;
}

.job-description {
    font-size: 1.4rem;
    font-size: 400;
    width: 90%;
    opacity: 0;
    transition: opacity 1s ease;
}

/* .job-owner-info {
    flex: 70%;
} */

.owner-info-card {
    background-color: var(--color-cream);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 5px;
    padding: 4rem 6rem;
    transform: translateY(-100px);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    min-height: 35rem;
    margin-top: 2rem;
}

.owner-img {
    width: 20rem;
    height: auto;
    border-radius: 50%;
    margin: 2rem 0;
}

.intro-line {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--color-black-light);
    margin-bottom: 0;
}

.job-owner-name {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--color-primary);
    margin-bottom: 2rem;
}

.social-icons {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.social-icons .fa {
    font-size: 3rem;
    color: var(--color-primary);
}

.social-icons .fa:hover {
    color: #101545c1;
}

.social-icons a {
    transition: all 0.4s ease-in-out;
}

.social-icons a:active {
    transform: translateY(10px);
}

.backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 1;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    animation: fade-in 0.5s ease;
    width: 90vw;
    max-width: 75rem;
    height: auto;
    max-height: 90vh;
    overflow: scroll;
    z-index: 2;
}

.popup-content {
    text-align: left;
    margin: 2rem 5rem 1.8rem 5rem;
}

.popup-heading {
    font-size: 2.2rem;
    /* text-align: center; */
    margin-bottom: 1rem;
}

.popup-job-name {
    margin: 0 0 3.6rem 0;
    font-size: 1.4rem;
    color: var(--color-secondary);
}

.form-control {
    height: 3rem;
    width: 100%;
    font-size: 1.4rem;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.form label {
    margin-bottom: 0.7rem;
    margin-left: 0.3rem;
    font-size: 1.2rem;
}

.form div div {
    width: 100%;
}

.large-text {
    height: 8rem;
}

.resume-input {
    font-size: 1rem !important;
    line-height: 2rem !important;
}

.input::placeholder {
    font-size: 1rem;
}

.job-name,
.department-name,
.other-info div,
.job-owner-info {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}



.animate-job-name .job-name,
.animate-department-name .department-name,
.animate-other-info .other-info div,
.animate-job-owner-info .job-owner-info,
.animate-job-description .job-description {
    opacity: 1;
    transform: translateY(0);
}


.required {
    color: var(--color-red);
}

.form-control {
    font-size: 1.2rem !important;
}

.form-control::placeholder {
    font-size: 1rem !important;
}

.spinner-border {
    display: none;
}

.thankyou-content {
    text-align: center;
    margin: 3rem 5rem;
}

.thankyou-img {
    width: 45rem;
    height: auto;
    margin-bottom: 4rem;
}

.thankyou-heading {
    font-size: 2.2rem;
    font-weight: 600;
}

.thankyou-sub {
    font-size: 1.2rem;
    margin-top: 1rem;
}

.thankyou-content {
    display: none;
    clip-path: inset(
        50% 0 50% 0
    ); 
    animation: reveal 1s forwards;
}

.job-closed {
    text-align: center;
    margin: 7rem;
    display: none;
    clip-path: inset(
        50% 0 50% 0
    );
    animation: reveal 1s forwards;
}

.job-closed-img {
    width: 40rem;
    height: auto;
}

.job-closed h2 {
    font-size: 3rem;
    font-weight: 600;
}

.job-closed p {
    font-size: 1.4rem;
    margin: 1.4rem 0 3.6rem 0;
    color: var(--bg-grey-dark);
}

.form-check-input {
    width: 1.2rem;
    height: 1.2rem;
}

.candidate-checks {
    margin-top: 2rem;
}

.eeo {
    color: var(--color-secondary);
    margin-top: 0.8rem;
    transition: all 0.2s ease;
    font-size: 0.8rem;
    cursor: pointer;
}

.eeo:hover {
    text-decoration: underline;
    color: var(--color-secondary);
}

.cand-terms {
    text-decoration: underline;
    cursor: pointer;
    line-height: 2rem;
}

.cand-terms:hover {
    color: var(--color-secondary);
}

.popup-content,
.other-content {
    animation: fade-in 0.5s ease;
}

.other-content {
    display: none;
    margin: 3rem;
}

.other-content p {
    font-size: 1.4rem;
}

.popup-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.popup-back,
.popup-close {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    border-radius: 50%;
    padding: 0.3rem 0.7rem;
    transform: translateX(-1rem);
}

.popup-other-text {
    padding: 0 3rem;
}

.align-items-baseline {
    align-items: baseline;
}

.notification-manager {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
}

.notification {
    background-color: #f1f1f1b9;
    color: var(--color-primary);
    border-radius: 5px;
    padding: 10px 20px;
    margin-bottom: 10px;
    display: flex;
    font-size: 1.6rem;
    justify-content: space-between;
    align-items: center;
    animation: slideDown 0.3s forwards;
    opacity: 0;
    transform: translateX(-50%);
    transition: transform 0.3s, opacity 0.3s;
}

.notification .close-btn {
    margin-left: 10px;
    cursor: pointer;
}

.notification.slide-up {
    animation: slideUp 0.3s forwards;
}

.form-text {
    font-size: 1rem;
}

.form-control.is-valid,
.custom-select.is-valid,
.form-check-input.is-valid:checked ~ .form-check-label,
.form-check-input.is-valid ~ .form-check-label,
.was-validated .form-control:valid,
.was-validated .custom-select:valid,
.was-validated .form-check-input:valid:checked ~ .form-check-label,
.was-validated .form-check-input:valid ~ .form-check-label {
    border-color: #ced4da;
    padding-right: 0.75rem;
    background-image: none;
}

@media (min-width: 770px) and (max-width: 1000px) {
    .owner-info-card {
        padding: 2rem 4rem;
        transform: translateY(-70px);
    }
}

@media (max-width: 770px) {
    main {
        flex-direction: column;
    }

    .owner-info-card {
        margin: 0 auto 4rem auto;
        max-width: 60vw;
        transform: none;
        min-height: 0;
        padding: 0 4rem;
    }

    .owner-info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        gap: 2rem;
    }

    .header-container {
        padding: 0 2rem;
    }

    .job-info {
        padding: 3rem;
    }

    .job-description {
        width: 100%;
    }

    .container {
        max-width: 600px !important;
    }

    .owner-img {
        width: 15rem;
    }

    .job-owner-name {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }

    .social-icons .fa {
        font-size: 2rem;
    }
}

@media (max-width: 500px) {
    .owner-img {
        width: 12rem;
    }

    .owner-info-card {
        max-width: 60vw;
    }

    .job-info {
        padding: 3rem;
    }
}

@media (max-width: 400px) {
    .owner-img {
        width: 9rem;
    }
}

@media (max-width: 250px) {
}

@media (min-width: 1050px) and (max-width: 1250px) {
    html {
        font-size: 55%;
    }
}

@media (min-width: 770px) and (max-width: 1050px) {
    html {
        font-size: 45%;
    }
}

@media (max-width: 770px) {
    html {
        font-size: 35%;
    }
}
