:root {
    --color-primary: #101545;
    --color-secondary: #6887d9;
    --color-tertiary: #6ec1e4;
    --color-white: #f1f1f1;
    --color-grey-light: #dee2e6;
    --color-grey-dark: #868e96;
    --color-black-light: #495057;
    --color-red: #c92a2a;
    --color-grey: #f3f2ee98;

    --bg-primary: #101545;
    --bg-secondary: #6887d9;
    --bg-tertiary: #6ec1e4;
    --bg-grey-light: #dee2e6;
    --bg-grey-dark: #868e96;
    --bg-black-light: #495057;
    --bg-red: #c92a2a;
    --bg-grey: #f3f2ee98;
}

/* KeyFrames */

@keyframes bounce {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-15px);
    }
    60% {
        transform: translateY(-10px);
    }
}

@keyframes appearFromLeft {
    0% {
        opacity: 0;
        transform: translateX(75px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Buttons */

.button {
    padding: 0.7rem 1.4rem;
    border-radius: 3px;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.4s ease;
    cursor: pointer;
}

.button:active {
    transform: translateY(5px);
}

.button:focus {
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    outline: none;
}

.button-dropdown {
    border: 1px solid var(--color-grey-dark);
    background-color: transparent;
    color: var(--color-black-light);
}

.button-dropdown.selected {
    background-color: var(--bg-secondary);
    color: var(--color-white);
    border: 1px solid var(--color-secondary);
    width: auto;
}

.button-reset {
    border: 1px solid var(--color-black-light);
    background-color: transparent;
    color: var(--color-black-light);
    /* width: 15rem; */
    line-height: 1.9rem;
    margin-right: 1rem;
    display: none;
    opacity: 0;
    transform: translateX(75px);
    animation: appearFromLeft 1s forwards, bounce 2s 3s forwards;
}

.button-reset:hover {
    background-color: var(--bg-secondary);
    color: var(--color-white);
    border: 1px solid var(--color-secondary);
}

.button-dropdown:hover {
    background-color: var(--bg-secondary);
    color: var(--color-white);
    border: 1px solid var(--color-secondary);
}

.button-search {
    border: 1px solid var(--color-primary);
    background-color: var(--bg-primary);
    color: var(--color-white);
    width: 15rem;
    line-height: 2.2rem;
}

.button-search:hover {
    background-color: transparent;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.button-view-more {
    border: 1px solid var(--color-primary);
    background-color: transparent;
    color: var(--color-primary);
    width: 15rem;
    line-height: 2.2rem;
}

.button-view-more:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
    border: 1px solid var(--color-primary);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
    scroll-behavior: smooth;
}

body {
    font-family: "DM Sans", sans-serif !important;
}

.header {
    padding: 6rem 0;
    background-image: url(img/index_bg.png);
    background-size: cover;
    color: var(--color-white);
    height: 40rem;
    display: flex;
    align-items: center;
}

.heading-text {
    font-size: 3.4rem;
    margin-bottom: 2rem;
}

.sub-heading-text {
    font-size: 1.6rem;
    width: 60rem;
    word-wrap: break-word;
}

.filter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
    padding: 3rem 0 1rem 0;
    gap: 2rem;
}

.dropdown-container {
    min-width: 16rem;
}

.search-container {
    flex-grow: 1;
    display: flex;
}

.search-input {
    width: auto !important;
    height: 3.4rem !important;
    border-color: var(--color-grey-dark) !important;
    font-size: 1.4rem !important;
    font-weight: 500 !important;
    color: var(--color-black-light);
    flex-grow: 1;
    width: 0;
}

.dropdown {
    display: flex;
    flex-direction: column;
    align-items: start;
}

@media (min-width: 1400px) {
    .container {
        max-width: 1210px !important;
    }
}

.dropdown-container,
.search-button-container {
    flex-shrink: 0; /* prevents them from shrinking */
}

.dropdown button,
.dropdown ul {
    min-width: 100%;
}

.dropdown-item {
    font-size: 1.2rem !important;
    padding: 0.5rem 1rem !important;
    display: flex !important;
    gap: 0.5rem !important;
}

.form-check-label {
    width: 100%;
}

.job-listings {
    margin: 4rem 0;
    position: relative;
}

.cards-container {
    /* max-width: 1200px !important; */
    list-style: none;
}

.job-card {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 2rem;
    border-radius: 5px;
    margin: 2rem 0;
    min-height: 15rem;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    opacity: 0;
    transform: translateY(30px);
    border-left: 10px solid transparent;
    border: 0px solid transparent;
    text-decoration: none;
}

.job-card:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transform: scale(1.03);
    border: 2px solid rgba(104, 134, 217, 0.6);
    border-left: 10px solid rgba(104, 134, 217, 0.6);
    transition: all 0.4s ease-in-out;
}

.job-name {
    font-size: 2rem;
    font-weight: 600;
    width: 35rem;
    word-wrap: break-word;
    margin-bottom: 1.6rem;
    color: var(--color-primary);
    line-height: 3rem;
}

.department-name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--color-grey-dark);
}

.country-info,
.job-type-info,
.date-posted-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--color-grey-dark);
}

.job-details-wrapper {
    display: flex;
    align-items: center;
    gap: 2.5rem;
    justify-content: space-between;
    width: 75%;
}

.job-card i {
    font-size: 1.8rem;
}

.owner-image {
    width: 15rem;
    height: auto;
    border-radius: 50%;
    /* border: 1px solid var(--color-primary); */
    /* padding: .2rem; */
    /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
}

.dropdown-menu li {
    cursor: pointer;
}

.animate-cards {
    opacity: 1;
    transform: translateY(0);
}

.dropdown-menu {
    max-height: 200px;
    overflow-y: scroll;
    position: relative;
    background: white;
}

.dropdown-menu::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.dropdown-menu {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.dropdown-menu:hover::-webkit-scrollbar {
    width: 5px;
}

.dropdown-menu:hover {
    scrollbar-color: #939393 #ededed;
}

.dropdown-menu:hover::-webkit-scrollbar-thumb {
    background-color: #939393;
    border-radius: 10px;
}

.dropdown-menu:hover::-webkit-scrollbar-track {
    background-color: #fff;
}

.loader-container {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 1); /* Semi-transparent white */
    z-index: 9999; /* Ensure loader is on top of all other content */
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 8px solid #101545;
    border-radius: 50%;
    border-top: 8px solid rgba(255, 255, 255, 0.3) ;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

.header {
    overflow: hidden;
    position: relative;
}

.header::before,
.header::after {
    content: "";
    position: absolute;
    background-color: white; /* Color of your header background */
    width: 100%;
    height: 50%;
    z-index: 2;
    transition: transform 0.8s ease;
}

.header::before {
    top: 0;
    transform: translateY(0);
}

.header::after {
    bottom: 0;
    transform: translateY(0);
}

.text-container {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease 0.8s, transform 0.8s ease 0.8s; /* Start after header parts animation */
    z-index: 1;
}

.animate-header .header::before {
    transform: translateY(-100%);
}

.animate-header .header::after {
    transform: translateY(100%);
}

.animate-header .text-container {
    opacity: 1;
    transform: translateY(0);
}

.filters {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
    position: relative;
    z-index: 1;
}

.animate-filters .filters {
    opacity: 1;
    transform: translateY(0);
}

.dropdown-toggle::after {
    margin-left: 0.7rem !important;
}

.section-spinner {
    border: 5px solid rgb(0, 3, 54);
    border-radius: 50%;
    border-top: 5px solid #33333300; /* Color of the top border */
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

.section-loader-container {
    display: none; /* Initially hide the loader */
    align-items: center;
    justify-content: center;
    position: absolute; /* or absolute depending on the positioning context */
    top: 10rem;
    left: 0;
    width: 100vh;
    height: 100vh;
    /* background-color: rgba(255, 255, 255, 0.9); */
    z-index: 1000; /* High z-index to ensure it overlays other elements */
}

.no-jobs {
    text-align: center;
    margin: 6rem 0 6rem 0;
    display: none;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}

.no-jobs-img {
    width: 50rem;
}

.no-jobs-container {
    /* display: flex; */
}

.no-jobs-text {
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 1.4rem;
}

.no-jobs-text p {
    margin-bottom: 0.5rem;
}

.pill {
    display: inline-block;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #ced4da3e;
    border-radius: 2px;
    font-size: 1.2rem;
    font-weight: 500;
}

.pills-container {
    transform: translateY(-100%);
    transition: all 0.3s ease;
}

.pills-container.reveal {
    transform: translateY(0);
}

.pill button {
    margin-left: 5px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.scroll-to-top {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    display: none;
    padding: 1rem 1.6rem .8rem 1.6rem;
    background-color: #ffffff76;
    color: var(--color-primary);
    font-size: 2.4rem;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid var(--color-primary);
}


/* media */

@media (min-width: 1050px) and (max-width: 1250px) {
    html {
        font-size: 55%;
    }
}

@media (min-width: 770px) and (max-width: 1050px) {
    html {
        font-size: 45%;
    }
}

@media (min-width: 630px) and (max-width: 770px) {
    html {
        font-size: 35%;
    }
}

@media (min-width: 400px) and (max-width: 630px) {
    html {
        font-size: 25%;
    }

    .text-container {
        padding-left: 3rem !important;
    }
}

@media (max-width: 400px) {
    .scroll-to-top {
        font-size: 1.4rem;
        padding: .7rem 1rem .5rem 1rem;
    }

    .job-details-wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .job-details-wrapper {
        gap: 1rem;
    }

    .header {
        height: auto;
    }


    .filter-container {
        flex-direction: column;
    }

    .filter-container div {
        width: 100%;
    }

    .job-owner-info {
        display: none;
    }

    .job-name {
        width: 80vw;
    }

    .search-button-container {
        display: flex;
    }

    .button-search {
        width: 100%;
    }

    .button-view-more {
        width: 90%;
    }

    .sub-heading-text {
        width: 100%;
    }

    .text-container {
        text-align: center;
    }
}
